.card {
  text-align: center;
}

.btn {
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 20px;
  background-color: rgb(255, 0, 110);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

.poster {
  object-fit: cover;
  width: 150px;
}
